:root {
    --blue-color: #009efb;
    --black-color: #18100f;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Quicksand", sans-serif;
}


/* Start Nav */

.loader {
    position: relative;
    width: 185px;
}

.loader span {
    position: absolute;
    color: #fff;
    transform: translate(-50%, -50%);
    font-size: 38px;
    letter-spacing: 5px;
    top: 50%;
    left: 50%;
}

.loader span:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 0.3px white;
}

.loader span:nth-child(2) {
    color: white;
    animation: uiverse723 3s ease-in-out infinite;
}

@keyframes uiverse723 {
    0%,
    100% {
        clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
    }
    50% {
        clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
    }
}

.contanier {
    width: 80%;
    margin: 0px auto;
}

.navbar-nav .nav-item .nav-link {
    padding: 6px !important;
}

a {
    text-decoration: none;
}

.c-white {
    color: white !important;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.active {
    color: black !important;
}

.navbar {
    /* height: 75px; */
    display: flex;
    justify-content: space-between;
    background-color: #61acce;
}

.images img {
    width: 70px;
}

.image img {
    width: 70px;
}


/* end Nav */

.parent {
    background-color: #d8d9db;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 200px;
    position: relative;
    margin-bottom: 340px;
}

.img__doctor_profile {
    width: 70px;
    height: 70px;
    background-color: white;
    color: black;
    /* text-align: center; */
    border-radius: 50%;
    padding-top: 10px;
    margin: 0 auto;
}

.description_doctor_profile {
    background-color: white;
    box-shadow: 5px 0px 5px 5px gray;
    border-radius: 5px;
    width: 50%;
    margin: auto;
    position: absolute;
    top: 40%;
    left: 25%;
    text-align: center;
}

.card {
    background-image: url();
    border-radius: 0;
    border: none;
    margin-bottom: 50px;
}

.Description,
.Age,
.Phone,
.Address {
    display: flex;
    flex-wrap: wrap;
    padding-left: 20px;
    padding-top: 20px;
}

.icon,
.fa-solid {
    width: 50px;
    height: 50px;
    /* background-color: #009efb; */
    color: #61acce;
    /* border-radius: 50%; */
    font-size: 35px;
    padding-top: 10px;
    /* padding-left: 15px; */
    /* margin-top: 5px; */
}

.title_description,
.title_age,
.title_phone,
.title_address {
    padding-left: 20px;
    text-align: start;
}

.table-doctor-profile {
    margin: 0 auto;
}

.table-color {
    border: 1px solid rgb(218, 217, 217);
    padding-top: 10px;
}

.table-color a {
    text-decoration: none;
    display: inline-block;
    padding-left: 20px;
    width: 20%;
    padding-bottom: 5px;
    color: black;
}

.input1 {
    background-color: #2afb00;
    border: transparent;
    border-radius: 5px;
}

.input2 {
    background-color: #fb0000;
    border: transparent;
    border-radius: 5px;
}

.input3 {
    background-color: #ddff00;
    border: transparent;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .description_doctor_profile {
        width: 100%;
        position: absolute;
        top: 30%;
        left: 0%;
        margin-top: 200px;
    }
    .parent {
        padding-top: 0;
    }
}


/* Srart footer */

.section_end {
    color: white;
    background-color: #61acce;
}

.section_end img {
    width: 120px;
}

.section_end svg {
    font-size: 20px;
    color: white;
    padding: 0;
}

.section_end span {
    color: white;
    font-size: 1.5em;
}

.section_end span h {
    color: #18100f;
    font-size: 1.5em;
}

.loader_footer {
    position: relative;
    left: 85px;
    top: -5px;
}

.loader_footer span {
    position: absolute;
    color: #fff;
    transform: translate(-50%, -50%);
    font-size: 38px;
    letter-spacing: 5px;
    top: 50%;
    left: 50%;
}

.loader_footer span:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 0.3px white;
}

.loader_footer span:nth-child(2) {
    color: white;
    animation: uiverse723 3s ease-in-out infinite;
}

@keyframes uiverse723 {
    0%,
    100% {
        clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
    }
    50% {
        clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
    }
}

.icons-footer i {
    font-size: 20px;
    margin-right: 15px;
}


/* End footer */

.button_nav {
    /* padding: 0.8em 1.7em; */
    background-color: transparent;
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    margin-top: 3px;
    background-color: #4086a6;
    cursor: pointer;
    -webkit-transition: .5s;
    transition: .5s;
    font-weight: 400;
    width: 5rem;
    height: 2rem;
    font-size: 17px;
    border: 1px solid #4086a6;
    font-family: inherit;
    text-transform: uppercase;
    /* color: white; */
    z-index: 1;
}

.button_nav {
    color: white;
}

.button_nav::before,
.button_nav::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: #61acce;
    -webkit-transition: 1s ease;
    transition: 1s ease;
}

.button_nav:hover {
    color: #61acce;
}

.button_nav::before {
    top: -1em;
    left: -1em;
}

.button_nav::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
}

.button_nav:hover::before,
.button_nav:hover::after {
    height: 410px;
    width: 410px;
}

.button_nav:hover {
    color: white;
}

.button_nav:active {
    -webkit-filter: brightness(.8);
    filter: brightness(.8);
}